In [46]:
import pandas as pd
import numpy as np

In [4]:
df = pd.Series([1,2,3,4,5,6,np.nan,8,9,10])

In [5]:
df

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [6]:
d = pd.date_range('20200303',periods=10)

In [7]:
d

DatetimeIndex(['2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06',
               '2020-03-07', '2020-03-08', '2020-03-09', '2020-03-10',
               '2020-03-11', '2020-03-12'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df1=pd.DataFrame(np.random.randn(10,4),index=d,columns=['A','B','C','D'])

In [9]:
df1

                   A         B         C         D
2020-03-03 -0.115848  1.915223 -0.254964 -0.933542
2020-03-04  1.045585  1.834070  0.483781  0.059019
2020-03-05  2.069086  1.724662  0.298879  0.079410
2020-03-06  0.327333 -1.016629  0.677301 -0.514443
2020-03-07  1.087963  0.525142 -1.364189  0.512991
2020-03-08 -0.465623  0.156112  0.748672 -2.610997
2020-03-09 -0.738364  0.967884  0.389977 -1.529481
2020-03-10  1.163660 -0.515948  1.243724 -0.327826
2020-03-11 -1.058348  0.290233 -0.892936 -2.253880
2020-03-12 -0.242375  0.473518  0.534021 -0.010020

In [10]:
df1=pd.DataFrame({ 'A':[1,2,3,4],
                  'B':pd.Timestamp('20200301'),
                  'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D':np.array([5]*4, dtype='int32'),
                  'E':pd.Categorical(['true','false','true','false']),
                  'F': 'Edureka'})

In [11]:
df

   A          B    C  D      E        F
0  1 2020-03-01  1.0  5   true  Edureka
1  2 2020-03-01  1.0  5  false  Edureka
2  3 2020-03-01  1.0  5   true  Edureka
3  4 2020-03-01  1.0  5  false  Edureka

In [12]:
k=pd.DataFrame({'A':['Apple','Mango','Pine Apple','Jack Fruit'],'B':[1,2,3,4]})
p=pd.Series({'A-----':['Apple','Mango','Pine Apple','Jack Fruit'],
             'B-------':[1,2,3,4]})

In [13]:
k

            A  B
0       Apple  1
1       Mango  2
2  Pine Apple  3
3  Jack Fruit  4

In [14]:
#How to view data
df.dtypes
k.dtypes

A    object
B     int64
dtype: object

In [15]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [16]:
df1.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.307307   0.635427   0.186427  -0.752877
std     1.001618   0.989602   0.795999   1.058564
min    -1.058348  -1.016629  -1.364189  -2.610997
25%    -0.409811   0.189642  -0.116503  -1.380496
50%     0.105743   0.499330   0.436879  -0.421135
75%     1.077368   1.535467   0.641481   0.041759
max     2.069086   1.915223   1.243724   0.512991

In [17]:
df1['C']

2020-03-03   -0.254964
2020-03-04    0.483781
2020-03-05    0.298879
2020-03-06    0.677301
2020-03-07   -1.364189
2020-03-08    0.748672
2020-03-09    0.389977
2020-03-10    1.243724
2020-03-11   -0.892936
2020-03-12    0.534021
Freq: D, Name: C, dtype: float64

In [18]:
df1[0:3]

                   A         B         C         D
2020-03-03 -0.115848  1.915223 -0.254964 -0.933542
2020-03-04  1.045585  1.834070  0.483781  0.059019
2020-03-05  2.069086  1.724662  0.298879  0.079410

In [19]:
df1[df1['A']>0]

                   A         B         C         D
2020-03-04  1.045585  1.834070  0.483781  0.059019
2020-03-05  2.069086  1.724662  0.298879  0.079410
2020-03-06  0.327333 -1.016629  0.677301 -0.514443
2020-03-07  1.087963  0.525142 -1.364189  0.512991
2020-03-10  1.163660 -0.515948  1.243724 -0.327826

In [20]:
#How to Handel Missing Data

In [30]:
df2=df1.reindex(index=d[0:4],columns=list(df1.columns)+['E'])

In [31]:
df2.loc[d[0]:d[1],'E']=1

In [35]:
df2

                   A         B         C         D    E
2020-03-03 -0.115848  1.915223 -0.254964 -0.933542  1.0
2020-03-04  1.045585  1.834070  0.483781  0.059019  1.0
2020-03-05  2.069086  1.724662  0.298879  0.079410  NaN
2020-03-06  0.327333 -1.016629  0.677301 -0.514443  NaN

In [36]:
df2.isnull()

                A      B      C      D      E
2020-03-03  False  False  False  False  False
2020-03-04  False  False  False  False  False
2020-03-05  False  False  False  False   True
2020-03-06  False  False  False  False   True

In [49]:
df2.mean()

A    0.831539
B    1.114331
C    0.301249
D   -0.327389
E    1.000000
dtype: float64

In [44]:
df2.fillna(value=3)

                   A         B         C         D    E
2020-03-03 -0.115848  1.915223 -0.254964 -0.933542  1.0
2020-03-04  1.045585  1.834070  0.483781  0.059019  1.0
2020-03-05  2.069086  1.724662  0.298879  0.079410  3.0
2020-03-06  0.327333 -1.016629  0.677301 -0.514443  3.0

In [41]:
df2.dropna()

                   A         B         C         D    E
2020-03-03 -0.115848  1.915223 -0.254964 -0.933542  1.0
2020-03-04  1.045585  1.834070  0.483781  0.059019  1.0

In [33]:
#pandas Operation

In [34]:
df.mean()

A    2.5
C    1.0
D    5.0
dtype: float32

In [50]:
na=df2

In [51]:
na

                   A         B         C         D    E
2020-03-03 -0.115848  1.915223 -0.254964 -0.933542  1.0
2020-03-04  1.045585  1.834070  0.483781  0.059019  1.0
2020-03-05  2.069086  1.724662  0.298879  0.079410  NaN
2020-03-06  0.327333 -1.016629  0.677301 -0.514443  NaN

In [54]:
s=pd.Series([1,2,3,np.nan,4,5,6,7,8,9],index=d).shift(2)

In [55]:
s

2020-03-03    NaN
2020-03-04    NaN
2020-03-05    1.0
2020-03-06    2.0
2020-03-07    3.0
2020-03-08    NaN
2020-03-09    4.0
2020-03-10    5.0
2020-03-11    6.0
2020-03-12    7.0
Freq: D, dtype: float64

In [57]:
df2.sub(s,axis='index')

                   A         B         C         D   E
2020-03-03       NaN       NaN       NaN       NaN NaN
2020-03-04       NaN       NaN       NaN       NaN NaN
2020-03-05  1.069086  0.724662 -0.701121 -0.920590 NaN
2020-03-06 -1.672667 -3.016629 -1.322699 -2.514443 NaN
2020-03-07       NaN       NaN       NaN       NaN NaN
2020-03-08       NaN       NaN       NaN       NaN NaN
2020-03-09       NaN       NaN       NaN       NaN NaN
2020-03-10       NaN       NaN       NaN       NaN NaN
2020-03-11       NaN       NaN       NaN       NaN NaN
2020-03-12       NaN       NaN       NaN       NaN NaN

In [60]:
df2.apply(np.cumsum)

                   A         B         C         D    E
2020-03-03 -0.115848  1.915223 -0.254964 -0.933542  1.0
2020-03-04  0.929737  3.749292  0.228818 -0.874524  2.0
2020-03-05  2.998823  5.473954  0.527696 -0.795113  NaN
2020-03-06  3.326156  4.457325  1.204997 -1.309556  NaN

In [62]:
df2.apply(lambda x:x.max()-x.min())

A    2.184933
B    2.931852
C    0.932265
D    1.012953
E    0.000000
dtype: float64

In [64]:
s.value_counts()

7.0    1
6.0    1
5.0    1
4.0    1
3.0    1
2.0    1
1.0    1
dtype: int64

In [66]:
u=pd.Series(['Soumalya','Souvik','Jupyter',np.nan,'Fotball'])

In [67]:
u

0    Soumalya
1      Souvik
2     Jupyter
3         NaN
4     Fotball
dtype: object

In [68]:
u.str.upper()

0    SOUMALYA
1      SOUVIK
2     JUPYTER
3         NaN
4     FOTBALL
dtype: object

In [71]:
df=pd.DataFrame(np.random.randn(10,6))

In [72]:
df

          0         1         2         3         4         5
0  0.016369  2.020536  0.138876 -0.100112 -0.509141 -0.452808
1 -0.670214 -0.483426 -0.889139  0.636776  0.971429  0.818571
2  0.418629  0.477246 -0.429027  0.335600  0.332253 -0.694818
3  0.445374 -0.056290 -0.937296 -0.899880 -0.740240  0.149955
4 -0.277719  0.526296 -0.861977  2.233689 -0.176735 -0.451695
5 -0.446009 -0.582303 -0.863138 -0.575776  0.108163 -1.246299
6  0.170704  1.496533  0.166313  0.157250 -0.520669 -1.333877
7 -0.750708  1.754756  0.774609  1.687513  0.379283 -0.524783
8 -0.165566 -0.743219 -0.215094  1.205175  1.879575 -0.046336
9 -0.438023  0.131656  0.742314 -0.669183  0.712529  0.103664

In [73]:
df2=[df[:3],df[3:7],df[7:]]

In [74]:
df2

[          0         1         2         3         4         5
 0  0.016369  2.020536  0.138876 -0.100112 -0.509141 -0.452808
 1 -0.670214 -0.483426 -0.889139  0.636776  0.971429  0.818571
 2  0.418629  0.477246 -0.429027  0.335600  0.332253 -0.694818,
           0         1         2         3         4         5
 3  0.445374 -0.056290 -0.937296 -0.899880 -0.740240  0.149955
 4 -0.277719  0.526296 -0.861977  2.233689 -0.176735 -0.451695
 5 -0.446009 -0.582303 -0.863138 -0.575776  0.108163 -1.246299
 6  0.170704  1.496533  0.166313  0.157250 -0.520669 -1.333877,
           0         1         2         3         4         5
 7 -0.750708  1.754756  0.774609  1.687513  0.379283 -0.524783
 8 -0.165566 -0.743219 -0.215094  1.205175  1.879575 -0.046336
 9 -0.438023  0.131656  0.742314 -0.669183  0.712529  0.103664]

In [75]:
pd.concat(df2)

          0         1         2         3         4         5
0  0.016369  2.020536  0.138876 -0.100112 -0.509141 -0.452808
1 -0.670214 -0.483426 -0.889139  0.636776  0.971429  0.818571
2  0.418629  0.477246 -0.429027  0.335600  0.332253 -0.694818
3  0.445374 -0.056290 -0.937296 -0.899880 -0.740240  0.149955
4 -0.277719  0.526296 -0.861977  2.233689 -0.176735 -0.451695
5 -0.446009 -0.582303 -0.863138 -0.575776  0.108163 -1.246299
6  0.170704  1.496533  0.166313  0.157250 -0.520669 -1.333877
7 -0.750708  1.754756  0.774609  1.687513  0.379283 -0.524783
8 -0.165566 -0.743219 -0.215094  1.205175  1.879575 -0.046336
9 -0.438023  0.131656  0.742314 -0.669183  0.712529  0.103664

In [79]:
left=pd.DataFrame({'A':[1,2],'B':[3,4]})

In [90]:
right=pd.DataFrame({'A':[5,6],'D':[4,70]})

In [81]:
left

   A  B
0  1  3
1  2  4

In [85]:
right

   C   D
0  5   4
1  6  70

In [91]:
pd.merge(left,right,on='A')

Empty DataFrame
Columns: [A, B, D]
Index: []

In [92]:
#Grouping

In [94]:
df.groupby(2).sum()

                  0         1         3         4         5
2
-0.937296  0.445374 -0.056290 -0.899880 -0.740240  0.149955
-0.889139 -0.670214 -0.483426  0.636776  0.971429  0.818571
-0.863138 -0.446009 -0.582303 -0.575776  0.108163 -1.246299
-0.861977 -0.277719  0.526296  2.233689 -0.176735 -0.451695
-0.429027  0.418629  0.477246  0.335600  0.332253 -0.694818
-0.215094 -0.165566 -0.743219  1.205175  1.879575 -0.046336
 0.138876  0.016369  2.020536 -0.100112 -0.509141 -0.452808
 0.166313  0.170704  1.496533  0.157250 -0.520669 -1.333877
 0.742314 -0.438023  0.131656 -0.669183  0.712529  0.103664
 0.774609 -0.750708  1.754756  1.687513  0.379283 -0.524783

In [ ]:
#Stack and Pivot Table

In [101]:
my_tuples=list(zip(*[[1,2,3,4,5,56,7,5],[7,5,4,3,4,7,56,78]]))

In [102]:
index=pd.MultiIndex.from_tuples(my_tuples,names=['First','Second'])

In [104]:
df=pd.DataFrame(np.random.randn(8,2),index=index,columns=['A','B'])

In [109]:
df2=df[:8]

In [110]:
df2

                     A         B
First Second
1     7      -0.028142 -0.839235
2     5       0.405958  0.921207
3     4      -1.121183 -1.728126
4     3       0.085388  0.117874
5     4       1.913342  0.595126
56    7       0.933710 -2.129023
7     56     -1.018132  0.220863
5     78      1.526955  0.641922

In [111]:
df2.stack()

First  Second
1      7       A   -0.028142
               B   -0.839235
2      5       A    0.405958
               B    0.921207
3      4       A   -1.121183
               B   -1.728126
4      3       A    0.085388
               B    0.117874
5      4       A    1.913342
               B    0.595126
56     7       A    0.933710
               B   -2.129023
7      56      A   -1.018132
               B    0.220863
5      78      A    1.526955
               B    0.641922
dtype: float64

In [108]:
df2.unstack()

               A                                       B                      \
Second         3         4         5         7         3         4         5
First
1            NaN       NaN       NaN -0.028142       NaN       NaN       NaN
2            NaN       NaN  0.405958       NaN       NaN       NaN  0.921207
3            NaN -1.121183       NaN       NaN       NaN -1.728126       NaN
4       0.085388       NaN       NaN       NaN  0.117874       NaN       NaN


Second         7
First
1      -0.839235
2            NaN
3            NaN
4            NaN

In [113]:
df=pd.DataFrame({'A':['a','b','c','d']*3,
                  'B':['A','B','C']*4,
                   'C':['P','P','Q','Q','P','P']*2,
                     'D':np.random.randn(12),
                       'E':np.random.randn(12)})

In [114]:
df

    A  B  C         D         E
0   a  A  P -1.606310  0.011207
1   b  B  P -0.491564 -0.582720
2   c  C  Q -0.520486  0.896294
3   d  A  Q -1.281357 -0.832741
4   a  B  P -0.891462  2.037889
5   b  C  P -0.560665 -0.987377
6   c  A  P  1.009666  1.228753
7   d  B  P -0.670116 -2.096069
8   a  C  Q  1.518159  0.587241
9   b  A  Q  0.692872  1.423192
10  c  B  P  0.088177  1.403952
11  d  C  P  0.011624 -1.757202

In [115]:
pd.pivot_table(df,values='D',index=['A','B'],columns=['C'])

C           P         Q
A B
a A -1.606310       NaN
  B -0.891462       NaN
  C       NaN  1.518159
b A       NaN  0.692872
  B -0.491564       NaN
  C -0.560665       NaN
c A  1.009666       NaN
  B  0.088177       NaN
  C       NaN -0.520486
d A       NaN -1.281357
  B -0.670116       NaN
  C  0.011624       NaN

In [116]:
#Time,Series and Categorical

In [122]:
dates=pd.date_range('3/3/2020',periods=100,freq='S')

In [119]:
dates

DatetimeIndex(['2020-03-01 00:00:00', '2020-03-01 00:00:01',
               '2020-03-01 00:00:02', '2020-03-01 00:00:03',
               '2020-03-01 00:00:04', '2020-03-01 00:00:05',
               '2020-03-01 00:00:06', '2020-03-01 00:00:07',
               '2020-03-01 00:00:08', '2020-03-01 00:00:09',
               '2020-03-01 00:00:10', '2020-03-01 00:00:11',
               '2020-03-01 00:00:12', '2020-03-01 00:00:13',
               '2020-03-01 00:00:14', '2020-03-01 00:00:15',
               '2020-03-01 00:00:16', '2020-03-01 00:00:17',
               '2020-03-01 00:00:18', '2020-03-01 00:00:19',
               '2020-03-01 00:00:20', '2020-03-01 00:00:21',
               '2020-03-01 00:00:22', '2020-03-01 00:00:23',
               '2020-03-01 00:00:24', '2020-03-01 00:00:25',
               '2020-03-01 00:00:26', '2020-03-01 00:00:27',
               '2020-03-01 00:00:28', '2020-03-01 00:00:29',
               '2020-03-01 00:00:30', '2020-03-01 00:00:31',
               '2020-03-01 00:00:32', '2020-03-01 00:00:33',
               '2020-03-01 00:00:34', '2020-03-01 00:00:35',
               '2020-03-01 00:00:36', '2020-03-01 00:00:37',
               '2020-03-01 00:00:38', '2020-03-01 00:00:39',
               '2020-03-01 00:00:40', '2020-03-01 00:00:41',
               '2020-03-01 00:00:42', '2020-03-01 00:00:43',
               '2020-03-01 00:00:44', '2020-03-01 00:00:45',
               '2020-03-01 00:00:46', '2020-03-01 00:00:47',
               '2020-03-01 00:00:48', '2020-03-01 00:00:49',
               '2020-03-01 00:00:50', '2020-03-01 00:00:51',
               '2020-03-01 00:00:52', '2020-03-01 00:00:53',
               '2020-03-01 00:00:54', '2020-03-01 00:00:55',
               '2020-03-01 00:00:56', '2020-03-01 00:00:57',
               '2020-03-01 00:00:58', '2020-03-01 00:00:59',
               '2020-03-01 00:01:00', '2020-03-01 00:01:01',
               '2020-03-01 00:01:02', '2020-03-01 00:01:03',
               '2020-03-01 00:01:04', '2020-03-01 00:01:05',
               '2020-03-01 00:01:06', '2020-03-01 00:01:07',
               '2020-03-01 00:01:08', '2020-03-01 00:01:09',
               '2020-03-01 00:01:10', '2020-03-01 00:01:11',
               '2020-03-01 00:01:12', '2020-03-01 00:01:13',
               '2020-03-01 00:01:14', '2020-03-01 00:01:15',
               '2020-03-01 00:01:16', '2020-03-01 00:01:17',
               '2020-03-01 00:01:18', '2020-03-01 00:01:19',
               '2020-03-01 00:01:20', '2020-03-01 00:01:21',
               '2020-03-01 00:01:22', '2020-03-01 00:01:23',
               '2020-03-01 00:01:24', '2020-03-01 00:01:25',
               '2020-03-01 00:01:26', '2020-03-01 00:01:27',
               '2020-03-01 00:01:28', '2020-03-01 00:01:29',
               '2020-03-01 00:01:30', '2020-03-01 00:01:31',
               '2020-03-01 00:01:32', '2020-03-01 00:01:33',
               '2020-03-01 00:01:34', '2020-03-01 00:01:35',
               '2020-03-01 00:01:36', '2020-03-01 00:01:37',
               '2020-03-01 00:01:38', '2020-03-01 00:01:39'],
              dtype='datetime64[ns]', freq='S')

In [124]:
ts=pd.Series(np.random.randint(0,500,len(dates)),dates)

In [125]:
ts.resample('5min').sum()

2020-03-03    23240
Freq: 5T, dtype: int32

In [126]:
dates=pd.date_range('3/3/2020 00:00',periods=5,freq='S')

In [127]:
ts=pd.Series(np.random.randn(len(dates)),dates)

In [128]:
ts

2020-03-03 00:00:00    0.217514
2020-03-03 00:00:01    0.359154
2020-03-03 00:00:02    0.976314
2020-03-03 00:00:03    1.911959
2020-03-03 00:00:04   -1.364050
Freq: S, dtype: float64

In [130]:
ts_utc=ts.tz_localize('UTC')

In [131]:
ts_utc

2020-03-03 00:00:00+00:00    0.217514
2020-03-03 00:00:01+00:00    0.359154
2020-03-03 00:00:02+00:00    0.976314
2020-03-03 00:00:03+00:00    1.911959
2020-03-03 00:00:04+00:00   -1.364050
Freq: S, dtype: float64

In [133]:
ts_utc.tz_convert('US/Eastern')

2020-03-02 19:00:00-05:00    0.217514
2020-03-02 19:00:01-05:00    0.359154
2020-03-02 19:00:02-05:00    0.976314
2020-03-02 19:00:03-05:00    1.911959
2020-03-02 19:00:04-05:00   -1.364050
Freq: S, dtype: float64

In [134]:
dates=pd.date_range('3/3/2020 ',periods=5,freq='M')

In [135]:
ts=pd.Series(np.random.randn(len(dates)),dates)

In [136]:
ts

2020-03-31   -0.149510
2020-04-30   -0.364524
2020-05-31    0.802287
2020-06-30    1.436826
2020-07-31   -1.867015
Freq: M, dtype: float64

In [138]:
ps=ts.to_period()

In [139]:
ps

2020-03   -0.149510
2020-04   -0.364524
2020-05    0.802287
2020-06    1.436826
2020-07   -1.867015
Freq: M, dtype: float64

In [146]:
df=pd.DataFrame({'id':[1,2,3,4,5,6],
                     'Grade':['a','b','c','b','a','e']})

In [147]:
df

  Grade  id
0     a   1
1     b   2
2     c   3
3     b   4
4     a   5
5     e   6

In [150]:
df['Grade']=df['grade'].astype('category')

KeyError: 'grade'